
body {
	background: #232323;
	margin: 0;
	font-family: "Montserrat","Avenir";
}

.square {
	width: 30%;
	margin: 1.66%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	border-radius: 15%;
	transition: background 0.6s;
}

#container {
	margin: 10px auto;
	max-width: 600px;
}

h1 {
	color: white;
	margin: 0;
	text-align: center;
	line-height: 1.1;
	background: steelblue;
	font-weight: normal;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
}

#gameLevel {
	background: white;
	text-align: center;
	height: 30px;
	color: black;
}

.selected {
	color: white;
	background: steelblue;
}

#colorDisplay {
	font-size: 200%;
}

button {
	background: none;
	border: none;
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: steelblue;
	font-weight: 700;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

#message {
	display: inline-block;
	width: 20%;
}

button:hover {
	color: white;
	background: steelblue;
}